<p id="notice"><%= notice %></p>
<%= form_for(@blog, url: choose_new_or_edit) do |f| %>
  <%= f.error_messages! %>
  
  <%= f.label :title %>
  <%= f.text_field :title, class: 'form-control' %>
  <br>
  <%= f.label :content %>
  <%= f.text_field :content, class: 'form-control' %>
  <br>
  <% if action_name == 'edit' %>
    <p class="posted_name">投稿者</p>
    <p class="posted_name"><i class="fa fa-user fa-lg icon_index">&nbsp;</i><%= @blog.user.name %></p><br />
    <%= f.submit "更新する", class: 'btn btn-primary btn-block'%>
  <% else %>
    <%= f.submit "確認する", class: 'btn btn-primary btn-block'%>
  <% end %>
<% end %>
<%= link_to "ブログ一覧画面にもどる", blogs_path %>
