<div class="container" id="blog_index">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <h1>ブログ一覧</h1>
      <%= link_to "ブログを作成する", new_blog_path %>
    <% @blogs.each do |blog| %>
    <div class="row">
      <div class="posted_user">
        <%= profile_img(blog.user) if profile_img(blog.user) %>
      </i><%= blog.user.try(:name) || '名無し' %>が投稿しました
      </div>
      <h4><strong><%= blog.title %></strong></h4>
      <%= link_to blog_path(blog) do %>
      <p><%= blog.content %></p>
      <% end %>
      <%= link_to edit_blog_path(blog.id) do %>
        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
      <% end %>
      <%= link_to blog_path(blog), method: :delete, data: { confirm: '本当に削除していいですか？' } do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      <% end %>
    </div>
    <% end %>
  </div>
  <div id="page-top-btn" class="page-top-btn">
    <p><a class="move-page-top" id="move-page-top">▲</a></p>
  </div>
</div>
